
@font-face {
  font-family: 'Mirror-sEdge';
  src: url('Mirror-sEdge.eot?#iefix') format('embedded-opentype'),  url('Mirror-sEdge.woff') format('woff'), url('Mirror-sEdge.ttf')  format('truetype'), url('Mirror-sEdge.svg#Mirror'sEdge') format('svg');
  font-weight: normal;
  font-style: normal;
}
